<h1>Angular</h1>
<new-component></new-component>

<authors></authors>

<title-casing></title-casing>

<favourite [isFavourite]="post.isFavourite" (change)="onFavouriteChanged($event)"></favourite>

<bootstrap-panel>
  <ng-container class="exa">header</ng-container>
  <ng-container class="hgee">body</ng-container>
</bootstrap-panel>

<!--task-->

<like [isLiked]="tweet.isLiked" [likeCounter]="tweet.likesCount"></like>

<!--ngIf-->

<div *ngIf="courses.length>0;then coursesList else noCourses">

</div>
<ng-template #coursesList> List of courses</ng-template>
<ng-template #noCourses>
  no courses yet
</ng-template>

<!--<div [hidden]="courses.length==0"> </div>-->

<!--ngSwitch-->

<ul class="nav nav-pills">
  <li class="nav-item" ><a class="nav-link" [class.active]="viewMode == 'map'" (click)="viewMode = 'map'" >Map View</a></li>
  <li class="nav-item" ><a class="nav-link" [class.active]="viewMode == 'list'" (click)="viewMode = 'list'" >List View</a></li>
</ul>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Other</div>
</div>

<!--ngFor-->
<br><br>

<button class="btn" (click)="onAdd()">Add</button>

<ul>
  <li *ngFor="let course of courses; even as isEven">
    {{course.name}} <span *ngIf="isEven">(EVEN)</span>
    <button (click)="onRemove(course)">Remove</button>
  </li>
</ul>


<button class="btn" (click)="loadData()">Load</button>
<ul>
  <li *ngFor="let course of courses2;trackBy:trackCourse">
    {{course.name}}
  </li>
</ul>

<input type="text" [appInputFormat]="'uppercase'">


<!--task 5-->
<br>
<br>

<zippy title="Shipping Details">
  Shipping Details Content
</zippy>
<zippy title="Billing Details">
  Billing Details Content
</zippy>


<!--form lessons-->

<contact-form></contact-form>


<!--coourse task-->
<router-outlet></router-outlet>


